body {
  margin: 0;
  font-family: "Actor", sans-serif;
  background-color: #f3f3f3;
}
input,
button {
  font-family: "Actor", sans-serif;
}
.header {
  cursor: default;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h2 {
    font-weight: 400;
    font-family: Actor;
    size: 20px;

    opacity: 1;
  }
  span {
    font-family: Actor;
    font-weight: 400;
    font-size: 20px;

    line-height: 44px;
    letter-spacing: 0px;
    color: #49c2e8;
  }
  img {
    margin: 20px 15px 20px 160px;
  }
}

.content {
  margin: 70px 250px 47px 250px;
  width: 1180px;
  position: relative;
}
.filter_block {
  display: flex;

  align-items: center;
  width: 1180px;
}
.search_block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #f3f3f3;
  border-radius: 10px;
  position: relative;
  .searchIcon {
    position: absolute;
    padding: 0 0 0 15px;
    height: 18px;
    width: 18px;
    opacity: 0.5;
  }

  .clearIcon {
    position: absolute;
    right: 0;
    height: 18px;
    width: 18px;
    padding-right: 15px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  input {
    border: 0;
    width: 800px;
    height: 48px;
    font-size: 16px;
    padding: 0 0 0 55px;
  }
}
.sort {
  display: flex;
  align-items: center;

  padding-left: 15px;
  margin-left: 20px;

  background: #ffffff;
  position: relative;
  height: 48px;
  width: 180px;

  &__label {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      position: absolute;
      right: 0;
      margin-right: 20px;
    }

    span {
      cursor: pointer;
    }
  }

  &__popup {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 40px;

    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;

    width: 195px;

    ul {
      padding: 0;
      overflow: hidden;
      li {
        padding: 12px;
        cursor: pointer;
        list-style-type: none;

        font-family: Actor;
        font-weight: 400;

        font-size: 15px;

        &.active,
        &:hover {
          background: rgba(73, 194, 232, 0.11);
          display: flex;
          align-items: center;

          img {
            position: absolute;
            right: 0;
            margin-right: 20px;
          }
        }

        &.active {
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

.users {
  font-family: "Roboto", sans-serif;
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;

    font-style: Bold;
    font-size: 16px;
  }
  .table_heading {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 250px 90px 200px 175px 162px;
    margin: 47px 0 40px 0;
    justify-items: flex-start;

    th {
      padding-left: 10px;
    }
  }

  .table_body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 250px 90px 200px 175px 162px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;

    white-space: nowrap;
    text-overflow: ellipsis;

    tb {
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 10px;
    }
  }

  .tooltip-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
  }

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }

  .tooltip-box {
    margin-top: 5px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    transform: translateX(-10%);
    background-color: #f3f3f3;
    color: black;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 15px;
    z-index: 50;
    width: max-content;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s;
  }

  .tooltip-wrapper:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
  }
}
